body{
	margin: 0px;
}
#body-header{
	height: 65vh;
	opacity: 0.8;
	background-image: url(macbook_mouse.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;


}
.center{
	text-align: center;
	
}
.horizontal-list{
	list-style: none;
	padding-left: 0px;
}
.horizontal-list li{
	display: inline-block;
	margin: 0px 8px;
	font-size:20px ;
	font-family: sans-serif;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	
}
.nav-menu li a:hover{
	color: orange;
	border-bottom: 1px solid orange;
}
#intro-container{
	margin-top: 30vh;
}
#name{
	color: white;
	font-size: 3rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
	font-family: sans-serif;
	margin-bottom: 0px;
}
.social-icons li{
	border-radius: 50%;
}
.social-icons img{
	width: 1.5rem;
	padding: 0px;
	margin-top: 0px;
}
.social-icons li:hover{
	box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
.social-icons li a i:hover{
		box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
.nav-menu li a{
	transition: color: 0.5s, border-bottom: 3s;
}
#about{
	height: auto;
	width: 100%;
	position: relative;
}
#image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -15vh;
}
#image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
#image img:hover {
		box-shadow: 0px 0px 6px 10px rgba(230, 196, 196, 0.8);

}
#intro p{
	text-align: center;
	font-size: 25px;
}
#intro{
	height: auto;
	width: 100%;
	margin: auto;
}